$header1: calc(1rem + 3vw);
$header2: calc(1rem + 2.5vw);
$header3: calc(1rem + 1.5vw);
$header4: calc(1rem + 1vw);
$text: calc(0.5rem + 1vw);
$text-sm: calc(0.5rem + 0.8vw);
$text-xs: calc(0.4rem + 0.5vw);
$secondary-color: #919191;
$tertiary-color: #d1d1d1;
$slogan: calc(1rem + 4vw);
$sloganPort: calc(1rem + 5vw);
$sloganLarge: calc(1rem + 6vw);
