@import './variables';

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .main {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .loginText {
            font-size: $slogan;
            color: blue;
            margin-bottom: 3rem;
        }

        .instructions {
            font-size: $text;
            color: $secondary-color;
            margin-bottom: 1rem;
        }

        .form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .inputBox {
                width: 60%;
                height: 2rem;
                border: #E3EDF0 2px solid;
                background-color: #F6F7F8;
                border-radius: 5px;
                padding: 1.2rem;
                margin-bottom: 1rem;
            }

            .errorMessage{
                color: red;
                font-size: $text-xs;
                margin-bottom: 1rem;
            }

            .loginButton{
                width: 30%;
                height: 3rem;
                text-align: center;
                background-color: white;
                border: blue 2px solid;
                border-radius: 5px;
                color: blue;

            }
            .loginButton:hover{
                background-color: blue;
                color: white;
                cursor: pointer;
            }
        }
    }
}
