@import './variables';

.container {
    min-height: 100vh;
    background-color: #f0f0f0;
    .main {
        width: 80%;
        margin: auto;

        .header {
            .banner {
                border-radius: 5px;
                overflow: hidden;
            }
            .profile {
                .logout {
                    margin-right: 2rem;
                    margin-top: 2rem;
                    cursor: pointer;
                }
                display: flex;
                justify-content: space-between;

                .profileContainer {
                    display: flex;
                    align-items: center;
                    height: 7rem;
                    margin-left: 3rem;
                    .profilePic {
                        width: 10rem;
                        height: 10rem;
                        border-radius: 50%;
                        margin-right: 2rem;
                        overflow: hidden;
                    }

                    .profileInfo {
                        .name {
                            text-transform: capitalize;
                            font-size: $text-sm;
                            margin-bottom: 0.3rem;
                            font-weight: bold;
                        }

                        .info {
                            font-size: $text-xs;
                            margin-bottom: 0.1rem;
                            color: $secondary-color;
                        }
                    }
                }
            }
        }

        .report {
            margin-top: 5rem;
            background-color: white;
            padding: 1rem 2rem 1rem 2rem;
            border-radius: 5px;

            .reportTitle {
                font-weight: bold;
                font-size: $text-sm;
                margin-bottom: 0.1rem;
            }

            .reportPolicy {
                color: $secondary-color;
                font-size: $text-xs;
                margin-bottom: 1rem;
            }
            .reportDetails {
                display: flex;
                align-items: center;
                margin-bottom: 2rem;
                .bar {
                    height: 5px;
                    background-color: #c9c6c6;
                    border-radius: 5px;
                    width: 85%;

                    .percent {
                        height: 5px;
                        background-color: #d35b5b;
                        border-radius: 5px;
                    }
                }

                .riskItem {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 15%;
                    margin-right: 1rem;

                    .label {
                        font-size: $text-xs;
                        text-align: center;
                    }
                }
            }
        }
    }
}
